*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
.container{
    max-width: 1220px;
    margin:0 auto;
}

:root{
    --header:black;
    --main:black;
    --oq:white;
    --qora:black;
     --btn:rgba(12, 12, 46, 0.979);
     --card:#FFFFFF0A;
}
.dark{
    --header:white;
    --main:white;
    --oq:black;
    --qora:white;
    --btn:rgba(12, 12, 46, 0.979);
    --card:#FFFFFF0A;
}


header{
    background-color: var(--oq);
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}


nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    
}

header h2{
    color: #FA6E00;
}
nav ul li a{
    text-decoration: none;
    color: gray;
}
nav ul li a:hover{
   color: #FD6F00;
   font-weight: 700;
}

.btn{
    width: 40px;
    height: 40px;
    background: var(--qora);
    border-radius: 30px;
    border: none;
    color:var(--oq);
}
main{
    background-color: var(--oq);
}
.hero-text{
    color: var(--qora);
}
.hero-text h1{
    padding-top: 10px;
    padding-bottom: 20px;
}
.hero-text p{
    font-size: 20px;
}
.h-3{
    color: gray;
}
span{
    color: #FD6F00;
}
.icon{
    width: 40px;
    height: 40px;
    border:  1px solid #575757;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(69, 69, 255);
}
.icon1{
    width: 40px;
    height: 40px;
    border:  1px solid #575757;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(255, 0, 0);
}
.icons{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.ota{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.odam{
     width: 400px;
     height: 400px;
     border: 3px solid #FA6E00;
     border-radius: 200px;
     animation-name: aylan;
     animation-duration: 4s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
}

.text{
    color:var(--qora);
    text-align: center;
    margin-top: 50px;
}

.ota1{
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
    margin-top: 80px;
}
.card1 i{
    font-size: 40px;
    color: #FA6E00;
}
.card1{
    text-align: center;
    background-color: var(--card);
    width: 280px;
    height: 260px;
    padding: 10px;
    border-radius: 15px;
    border: #575757 solid 2px;
}
.card1 h3{
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--qora);
}
.card1 P{
    color: var(--qora);
}

.text-1 h2{
    padding-bottom: 20px;
    padding-top: 20px;
}
.comp{
        width: 90%;
        width: 400px;
}
.ota2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-1{
    color: var(--qora);
}
.ota3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    color: var(--qora);
    margin-top: 100px;
    padding-bottom: 50px;
}
.yozuv1{
    text-align: center;
    padding-top: 100px;
    color: var(--qora);
}
input{
      width: 400px;
      height: 43px;
      border-radius: 5px;
      padding-left: 20px;
      background-color: var(--card);
      margin-left: 30px;
      margin-top: 50px;
}
.input-1{
    margin-top: 30px;
}
    
.btn2{
    width: 150px;
    height: 40px;
    background-color: var(--card);
    border-radius: 10px;
    color: var(--qora);
    margin-left: 30px;
}


.btn3{
    font-size: 24px;
    border:none;
    background: none;
    color: var(--qora);
    display: none;
}


.menu{
    text-align: center;
    flex-direction: column;
    margin-left: 600px;
    margin-top: 200px;
}
.nav-1{
    display: flex;
     align-items: center;
     gap: 50px;
}


.sec-3 h2{
    text-align: center;
    color: var(--qora);
    margin-top: 100px;
}
.pizza{
    width: 400px;
    border-radius: 20px;
}
.card3 h3 a{
    color: var(--qora);
    text-decoration: none;
    margin-left: 130px;
    margin-top: 60px;
    font-size: 30px;
}

.card3{
    width: 430px;
    height: 300px;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 5px;
    border:2px solid #FA6E00 ;
}
.ota5{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin-top: 70px;
}
.ota4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
.hero-ota{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec-4{

    padding-bottom: 230px;
}
.btn4{
    border: #FD6F00 2px solid;
    width: 120px;
    height: 42px;
    background: none;
    border-radius: 20px;
    font-size: 17px;
    margin-top: 14px;
}
.btn4 a{
    text-decoration: none;
    color: #FD6F00;
}
.btn5{
    border: #FD6F00 2px solid;
    width: 120px;
    height: 42px;
    background: none;
    border-radius: 20px;
    font-size: 17px;
    margin-top: 30px;
}
.btn5 a{
    text-decoration: none;
    color: #FD6F00;
}
.btn6{
    border: #FD6F00 2px solid;
    width: 120px;
    height: 42px;
    background: none;
    border-radius: 20px;
    font-size: 17px;
    margin-top: 16px;
}
.btn6 a{
    text-decoration: none;
    color: #FD6F00;
}

@keyframes aylan{
    0%{
        transform: rotate(0deg) scale(0.5);
    }
    50%{
        transform: rotate(360deg) scale(1);
    }
    100%{
        transform: rotate(720deg) scale(0.5);
    }
}


@media (max-width:520px){
    .btn3{
        display: block;
    }
    .nav-1{
        display: none;
    }
    .ota{
        flex-direction: column;
        padding: 20px;
    }
    .ota1{
        flex-direction: column;
    }
    header{
        padding-left: 20px;
    }
    .menu{
        margin-left: 100px;
        margin-top: 50px;
    }
    .ota2{
        flex-direction: column;
    }
    .ota3{
        flex-direction: column;
        gap: 40px;
    }
    .btn2{
        margin-top: 30px;
    }
    input{
        width: 90%;
    }
    .ota5{
        flex-direction: column;
    }
    .ota4{
        flex-direction: column;
    }
    .card3{
        width: 340px;
    }
    .card3 img{
        width: 330px;
    }
    .card3 h3 a{
        margin-left: 100px;
    }
}